doctype html
html(lang="en")
    head

        //- Include Meta
        include ../partials/meta.pug

    body

    //- Include Header
    include ../partials/header.pug

    //div.launching Launching November

    div.artist
        div.artist--wrapper
            a(href='/jakub-glinski.html')
                img(src=require("../assets/img/Jakub/few-hundres.jpg") alt="Jakub Glinski")

                h2  Jakub Glinski

        div.artist--wrapper
            a(href='/tomas-auksas.html')
                img(src=require("../assets/img/Tomas/living-on-the-edge.jpeg") alt="Tomas Auksas")

                h2  Tomas Auksas


