doctype html
html(lang="en")
    head

        //- Include Meta
        include ../partials/meta.pug

    body

    //- Include Header
    include ../partials/header.pug


    div.contact
        h1  Contact

        div.contact--wrapper

            div.contact--column
                h3 CEO and <br> Talent Acquisition
                p Sarah Sosnierz
                a(href="mailto:sarah@rejektgallery.com") sarah@rejektgallery.com

            div.contact--column
                h3 Director of <br> Immediate Business
                p Daniel Etherton
                a(href="mailto:daniel@rejektgallery.com") daniel@rejektgallery.com

            //div.contact--column
            //    h3 Creative Director
            //    p Tomas Auksas
            //    a(href="mailto:media@rejektgallery.com") media@rejektgallery.com

            div.contact--column
                h3 head of fashion <br> collaborations
                p Javier Imbert
                a(href="mailto:javi@rejektgallery.com") javi@rejektgallery.com

