doctype html
html(lang="en")
    head

        //- Include Meta
        include ../partials/meta.pug

    body

    //- Include Header
    include ../partials/header.pug


    //div.launching Launching November

    div.exhibitions
        div.exhibitions--poster
            img(src=require("../assets/img/posters/poster2.png") alt="Rejekt Posters")

        div.exhibitions--text
            p Making there U.K Debut's 'Waste of Civilisation' is a collaborative curation between Jakub Glinski and Tomas Auksas; that questions the tantalising societal relationship with imperfection. Glinski, a painter, performer and experimental musician follows his own streams of consciousness. His work projects a personal narrative; with omnipresent rogue and defiant undertones. Auksas, a film maker, who's latest project is an insight into marginalised Lithuanian women residing in a mental asylum. Reinforcing Waste of Civilisations exploration on societal expectations of beauty and perfection through social stigmas and abstract aesthetics. <br><br> The exhibition, presents at first hand, Glinski's artistic motivation for the spectator to revaluate their attitude towards consumerism. Through redefining discarded materials, Glinski presents a new format that plays between the lines of abstract expressionism and anarchism. This is juxtaposed with Auksas's documentary, exploring societies disrepute for those suffering with severe disabilities and related-psychosis. His random collection of material and sounds used in his performances are defiant against the contemporary art world. Sabotaging the foundations of beauty through presenting his work in a way that leaves the spectator flummoxed. On the outset, we have waste embodying imperfection. Paradoxically, one can take this representation beyond the social constructions of objectification. Thereby, seeing the concept of beauty in an altered way. <br><br> "What About Us?" is Auksas's new documentary, exploring the lives of a younger demographic living in a mental asylum in Lithuania. Behind closed doors, they form strong relationships with fellow patients. The outside world seems intimidating and foreboding. For decades, certain disabilities have been concealed from public view, with many of the population unknowing of their existence or commonality. <br><br> Recently, independent living for these particular young adults is being administered as a means to integrate them into modern society. Whilst documenting a group of girls moving through this transition, albeit being monitored under 24hrs supervision. Is this their first taste of independence? Their first self-governed decisions? Allowing them a life changing opportunity to define their own future.