doctype html
html(lang="en")
  head

    //- Include Meta
    include ../partials/meta.pug

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    //Import React 
    script(src='https://unpkg.com/react@16.4.1/umd/react.production.min.js')
    script(src='https://unpkg.com/react-dom@16.4.1/umd/react-dom.production.min.js')
    
    //Import React Swipe
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react-swipe/6.0.4/react-swipe.min.js')
    
  body

  //- Include Header
  include ../partials/header.pug


  div.home
    div.home--wrapper
      img(src=require("../assets/img/logo.svg") alt="Rejekt Logo")



//video(id="video" style="display: none" autoplay muted playsinline)
//    source(src=require("../assets/img/what-about-us.mov"), type='video/mp4')
//    //source(src=require("../assets/img/what_about_us.ogg"), type='video/ogg')
//
//video(id="video2" style="display: none" autoplay muted playsinline)
//    source(src=require("../assets/img/glinski.mp4"), type='video/mp4')
//
//div.sound.sound-mute
//    div.sound--icon.fa.fa-volume-off
//    div.sound--wave.sound--wave_one
//    div.sound--wave.sound--wave_two



//div.video-text
//    p In this Climate <br> Creative Director / LIBERATUM

