doctype html 
html(lang=en)
    head

        //Include Meta
        include ../partials/meta.pug

    body

        include ../partials/header.pug
        
    div.photos
        div
            p hi