doctype html
html(lang="en")
    head

        //- Include Meta
        include ../partials/meta.pug

    body

    //- Include Header
    include ../partials/header.pug




    div.videos
        div
            iframe(src='https://www.youtube.com/embed/X8YfDC8EZQQ' frameborder='0')

        div
            iframe(src='https://www.youtube.com/embed/TAlQJOwsTJw' frameborder='0')