- var word1 = "#WEARE<REJEKTS>";
- var word2 = "<REJEKTS>";

div.about--right__content
    h2.quote  principles of rejekt

    div.principles-container
        div.columns
            div
                p.number 1.
                h3 We are all born with nothing and we all die with nothing
                p It's just art! We surrender our love towards our creative processes but we will not be disillusioned by fantasy. It's our understanding that art is art, life is life and at times a love affair is created but we remain conscious of our actions, in control our fears and anxieties and remain true to ourselves at all time.

        div.columns
            div
                p.number 2.
                h3 Why does it matter
                p Building bridges between markets is important to us but promoting artists outside of those markets is fundamental. We are not bound by conviction of the 'art school'. WE DON'T CARE, #{word1} . We have no interest in past exhibitions. If your art works speaks, it speaks every artist is given a chance.

        div.columns
            div
                p.number 3.
                h3 You get out what you put in
                p Profit is at the discretion of the artist once arriving at ta decision made in collaboration with REJEKT Gallery. This means neither parties will loose out, and the artist has financial advantage in respect of the original reason as to why we are here.


    div.principles-container-row
        div.columns
            div
                p.number 4.
                h3 Time is only a construct
                p We do not impose deadlines on the artist's imagination, instead exhibitions will be curated at the leisure of the artist. This will prevent a compromise in quality, both in production and thought. Our advice, support and encouragement is offered.

        div.columns
            div
                p.number 5.
                h3 The enemy of the artist is our friend
                p Aggravation is caused by depicting the truth we accept that, so it is our trend to promote constructive criticism but hold no tolerance to conflict. The expression of thought is a liberty that belongs to us all and we welcome critics to discuss with us in the hope that the dialogue itself can be a journey of peace and deeper understanding.

        div.columns
            div
                p.number 6.
                h3 It's much easier to do things backwards
                p We are open to collaborating with other galleries but what is important is to build the career of the artist outside a traditional gallery set up. REJEKT bypasses the defined white wall aesthetic formally linked to the contemporary artist and honours collaboration with the individual, their surroundings and the art, contributing to its context and aesthetic appeal.

        div.columns
            div
                p.number 7.
                h3 We are independent

