div.about--left__content
    p.quote.text-center "we are stripped of entitlement & governed only by ourselves"

    div.upper-section
        div
            h2 we are
        div
            p <strong>rejekt gallery</strong> - an ideologically independent union of artists founded on democratic principles. We satisfy the boundaries between establishment and resistance by representing contemporary artists whom have had their right to express and share their artistic practice rejected.

                p <strong>rejekt gallery</strong> provides these artists with a viewing platform in non-gallery space that is free from political prejudice, without compromise of artworks and artists vision. By using a context specific location for each exhibition it will broaden our public and encourage them to understand our artists whilst enlightening themselves. Through this a mutual respect is encouraged and cultivated between artist, gallerists and the spectator.


    div.bottom-section
        div.bottom-section__width
            p It is our prime importance to take pride in flexibility for the artist, with our exhibitions lasting between the duration of one evening or spread across four days, after which the inhabited space and its contents disappear. We bear similarities to the concept of Heterotopia - a temporary space simultaneously existing mentally and physically, appearing and disappearing at any moment of time.

            p Plans regarding materials and initiatives in support of coverage and publicity, such as press releases, invitations and marketing are discussed and agreed at the preference of the artist.

        div
            h2 how do we work

