div.container
    div.wrapper
        div.wrapper--logo
            a(href='/')
                img(src=require("../assets/img/header-logo.svg") alt="Rejekt Logo")

        div.wrapper--menu
            ul
                li
                    a(href='about.html') about
                li
                    a(href='artist.html') artist
                li
                    a(href='exhibitions.html') exhibitions
                li
                    a(href='contact.html') contact
                li
                    a(href='videos.html') videos
                li
                    a(href='https://www.instagram.com/rejektgallery/' target='_blank')
                        img(src=require("../assets/img/instagram.png") alt="Rejekt Instagram")


        div.mobile--menu
            div.hamburger-menu

        div.overlay
            ul
                li
                    a(href='about.html') about
                li
                    a(href='artist.html') artist
                li
                    a(href='exhibitions.html') exhibitions
                li
                    a(href='contact.html') contact
                li
                    a(href='videos.html') videos
                li
                    a(href='https://www.instagram.com/rejektgallery/' target='_blank')
                        img(src=require("../assets/img/instagram.png") alt="Rejekt Instagram")
