meta(name="viewport" content="width=device-width, initial-scale=1")

meta(property="og:site_name" content= htmlWebpackPlugin.options.siteName)

meta(property="og:type" content="website")
meta(property="og:title" content= htmlWebpackPlugin.options.title)
meta(property="og:url" content= htmlWebpackPlugin.options.siteUrl)
meta(property="og:description" content= htmlWebpackPlugin.options.description)
meta(property="og:image" content= htmlWebpackPlugin.options.ogImage)
meta(property="og:image:url" content= htmlWebpackPlugin.options.ogImage)

title= htmlWebpackPlugin.options.title